* {
    margin: 0;
    padding: 0;
}

a {
    color: darkblue;
}

.no_underline {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    font-family: "Play", sans-serif;
    color: rgba(22, 22, 72, 0.97);
}

.page-block {
    width: 100%;
    min-height: 35em;
    display: flex;
    position: relative;
}

#main-block {
    background-image: linear-gradient(70deg, #467ca5 30%, #da7676 85%);
}

.block-part {
    flex-basis: 50%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#photo-part {
    flex-basis: 40%;
    padding: 2vh 2vw;
}

#name {
    margin-bottom: 2vh;
    font-family: "LXGW WenKai Mono TC", monospace;
    font-size: 2.8em;
    color: white;
    --name-outline-offset: 1px;
    --name-outline-blur: 0.1em;
    --name-outline-color: black;
    text-shadow: calc(-1*var(--name-outline-offset)) calc(-1*var(--name-outline-offset)) 2px var(--name-outline-color),
                 calc(-1*var(--name-outline-offset)) calc(var(--name-outline-offset)) 2px var(--name-outline-color),
                 calc(var(--name-outline-offset)) calc(-1*var(--name-outline-offset)) 2px var(--name-outline-color),
                 calc(var(--name-outline-offset)) calc(var(--name-outline-offset)) 2px var(--name-outline-color);
}

#photo {
    height: 100%;
    border: 3px rgba(60, 76, 38, 0.46) solid;
    border-radius: 3px;
    box-shadow: 0 0 10vw rgba(0, 0, 0, 0.5);
    max-height: calc(min(45vh, 30em));
}

#about-part {
    flex-basis: 60%;
    padding: 2vh 5vw;
    color: #292538;
}

#about-me-header, #contacts-header {
    align-content: flex-end;
    margin-bottom: 0.5em;
    font-size: 2em;
}

#contacts-header {
    margin-top: 0.5em;
}

#about-me {
    text-indent: 2em;
    text-shadow: 1px 1px 2px rgb(65 64 64 / 20%);
    font-family: "Arial", sans-serif;
}

#about-me p {
    padding: 0.2em;
}

.sep {
    width: 100%;
    height: 2px;
    background-image: linear-gradient(0deg, #00000055, #000000 50%, #00000055);
}

#project-block {
    background-image: radial-gradient(ellipse 30% 17em at 75% 55%, #ff0000, #ff000000),
                      linear-gradient(165deg, #bc85de 30%, #dde799 55%);
    height: fit-content;
    box-sizing: border-box;
    padding: 2em 2em 2em 3em;
}

#top-project-header {
    margin-bottom: 0.5em;
    text-shadow: #da7676 2px 2px 1px;
    font-size: 2.3em;
}

#top-project-demo {
    box-sizing: border-box;
    max-width: 80%;
    max-height: 60%;
    aspect-ratio: 1096/616;
    border-width: 5px;
    border-style: double;
    border-color: #467ca5;
    border-radius: 15px;
}

#top-project-caption {
    margin-top: 0.25em;
    font-size: 1.3em;
}

#project-list-header {
    font-size: 2em;
}

#project-list {
    padding: 1em 0;
}

#project-list li {
    font-size: 1.3rem;
    font-family: "Montserrat", sans-serif;
    padding: 0.5em 0;
}

ol ul {
    margin-left: 1em;
}

#github-logo {
    height: 1em;
    margin: 0 0.1em;
    user-select: none;
}

.hover_flying {
    transition: translate 0.5s;
}

.hover_flying:hover {
    translate: 0 -0.25em;
}

#contacts {
    display: flex;
    align-items: center;
    font-size: 1.5em;
}

.contact-icon {
    padding: 0 0.25em;
    height: 2em;
    user-select: none;
}

#iu-logo {
    height: 2em;
    vertical-align: middle;
}

#iu-name {
    color: #16b716;
    text-shadow: #1f6e16 1px 1px 1px;
}

#iu-link {
    text-indent: initial;
    display: inline-block;
}

.appear_anim {
    animation: appear;
    animation-duration: 1s;
    animation-play-state: paused;
    opacity: 0;
}

@keyframes appear {
    0% {
        translate: 0 -20vh;
        opacity: 0;
    }
    100% {
        translate: 0;
        opacity: 1;
    }
}
