* {
    margin: 0;
    padding: 0;
}

body {
    color: #1f2525;
    font-family: "Arial", sans-serif;
}

.page-block {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    background-color: #6ca3cc;
    box-sizing: border-box;
}

#header-title {
    font-size: 4em;
    font-weight: 400;
    text-shadow: 0 0 2px white;
}

@font-face {
    font-family: 'Ldfcomicsans';
    src: url('/assets/fonts/Ldfcomicsans.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

#header-span {
    font-family: 'Ldfcomicsans', sans-serif;
    text-decoration: underline dotted;
}

.comic-info {
    font-weight: normal;
}

#comic-image {
    border: #b4f4e2 solid 0.3em;
    border-radius: 1em;
    width: 100%;
    max-width: 50em;
}

#image-block {
    padding-top: 0;
}

#home-button {
    width: 3em;
    padding: 2px;
    position: absolute;
    filter: contrast(0.5);
}

@media screen and (max-width: 700px) {
    #home-button {
        margin: 0 auto;
    }

    #header-block {
        padding-top: 3em;
    }

    #header-title {
        font-size: 3em;
    }
}
