* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Arial", sans-serif;
}

a {
    color: darkblue;
    text-decoration: none;
}

img {
    width: fit-content;
    height: fit-content;
}

@font-face {
    font-family: "Play";
    src: url("/fonts/Play.woff2") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
}
